
// Big spinner
@-moz-keyframes rotate-spinner
{
  0%   { background-position: 0 0;      }
  13%  { background-position: -45px 0;  }
  26%  { background-position: -90px 0;  }
  39%  { background-position: -135px 0; }
  52%  { background-position: -180px 0; }
  65%  { background-position: -225px 0; }
  78%  { background-position: -270px 0; }
  91%  { background-position: -315px 0; }
  100% { background-position: 0 0;      }
}

@-webkit-keyframes rotate-spinner
{
  0%   { background-position: 0 0;      }
  13%  { background-position: -45px 0;  }
  26%  { background-position: -90px 0;  }
  39%  { background-position: -135px 0; }
  52%  { background-position: -180px 0; }
  65%  { background-position: -225px 0; }
  78%  { background-position: -270px 0; }
  91%  { background-position: -315px 0; }
  100% { background-position: 0 0;      }
}

@-ms-keyframes rotate-spinner
{
  0%   { background-position: 0 0;      }
  13%  { background-position: -45px 0;  }
  26%  { background-position: -90px 0;  }
  39%  { background-position: -135px 0; }
  52%  { background-position: -180px 0; }
  65%  { background-position: -225px 0; }
  78%  { background-position: -270px 0; }
  91%  { background-position: -315px 0; }
  100% { background-position: 0 0;      }
}

@-o-keyframes rotate-spinner
{
  0%   { background-position: 0 0;      }
  13%  { background-position: -45px 0;  }
  26%  { background-position: -90px 0;  }
  39%  { background-position: -135px 0; }
  52%  { background-position: -180px 0; }
  65%  { background-position: -225px 0; }
  78%  { background-position: -270px 0; }
  91%  { background-position: -315px 0; }
  100% { background-position: 0 0;      }
}

@keyframes rotate-spinner
{
  0%   { background-position: 0 0;      }
  13%  { background-position: -45px 0;  }
  26%  { background-position: -90px 0;  }
  39%  { background-position: -135px 0; }
  52%  { background-position: -180px 0; }
  65%  { background-position: -225px 0; }
  78%  { background-position: -270px 0; }
  91%  { background-position: -315px 0; }
  100% { background-position: 0 0;      }
}
