.pRatings {
  &--table{
    width: 100%;
    margin: 30px 0 0 0;
    border-spacing: 0;

    &--header-cell {
      padding: 15px 15px 15px 0;
      font: 700 15px / 20px 'PT Sans', 'Trebuchet MS', Arial, sans-serif;
      text-align: left;
      white-space: nowrap;
      border-bottom: 1px solid #b2b2b2;
    }

    &--cell {
      padding: 8px 15px 8px 0;
      font: 13px/16px Arial,Sans-Serif;
      white-space: nowrap;
    }
  }
}