.pRatings {

  margin: 0;
  min-width: 960px;
  max-width: 1200px;

  &--body {
    background: #fff;
    height: 100%;
    border-radius(0 0 6px 6px);
    padding: 50px 40px 90px;

  }

  &--title {
    margin: 0 0 20px 0;
    font: 700 40px / 42px 'PT Sans', 'Trebuchet MS', Arial, sans-serif;
    text-align: center;
  }

  &--info {
    margin: 18px 0;
    font: 15px / 18px 'PT Sans', 'Trebuchet MS', Arial, sans-serif;
    color: #131313;
    text-align: center;
  }

  &--block {
    display: block;
    &-inline {
      display: inline-block
    }
  }

}